body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
  font-family: system-ui;
  transition: 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'), url('./fonts/BebasNeue-Regular.ttf');
}
